.auth-card {
  width: 550px;
  padding: 95px 50px 50px 50px;
  border-radius: 20px;
}

.auth-card-title {
  font-size: 48px;
  font-weight: normal;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #263238;
}